# ================================================
#
# Manipulate data, join strata and seed disperser
# developed by Wirong Chanthorn 2017
#
#'==================================================
rm(list=ls(all=TRUE))
setwd("D:/Research2016/Tree Architecture/WoodDensity/Appendix_Analysis_Codes/") #******change directery
source("Abbrev.r")

#-----------------------------------
# Read all data (and X,Y) of the third census
All_T <- read.csv("Data/Trees2010.csv") 
All_T$X0 <- All_T$X-300 # The first colum is 15, thus we have to substract by 300

#Select out trees with wrong point of measurement (6 cm/year is impossible!!)
All_T <-subset(All_T,dbh.C3-All_T$dbh.C2<=30)

#Correct Mangsp to Mangdu
All_T$mnemonic<- as.character(All_T$mnemonic) #convert to characters
All_T$mnemonic[which(All_T$mnemonic=="MANGSP")] <- "MANGDU" #change to the new name

#read the metadata of full scientitific name
SppList <- read.csv("Data/Mnemonic.csv") 
SppList$Sci_Name <- paste(as.character(SppList$genus),as.character(SppList$species),sep=" ")

#Match mnemonic
mat4mnemonic<-function(mnemonic){
  if(which(as.character(SppList$mnemonic)%in%as.character(mnemonic)==T)){
    return(as.character(SppList[as.character(SppList$mnemonic)%in%as.character(mnemonic),6]))
  }else{
    return(NA)
  }
}

#Add full scientifci names
All_T$Sci_Name <- sapply(All_T$mnemonic,mat4mnemonic)

# Read the metadata of WSG & seed dispersal modes
All_Disp <- read.csv("Data/MST_Combined_Meta_Jan2017.csv")

#remove STERLA because there was not in any census data  
All_Disp <- All_Disp[which(All_Disp$mnemonic!="STERLA"),]

#------------------------------------------
# 
#Classify seed dispersal modes
#
#------------------------------------------

# Function for classification
# We do not consider terrestrial mammals because their food completely overlaps.
Class_DM <- function(Indiv){
  if((Indiv$Gibbon=="x"|Indiv$Monkey=="x"|Indiv$Hornbill=="x")&Indiv$small.bird!="x"){
    return("L")
  }else if(Indiv$Wind=="x"){
    return("W")
  }else{
    return("O")
    }
}

#Apply the function aove here and add to the main data.
for(i in 1:nrow(All_Disp)){
  All_Disp$DM[i]<- Class_DM(All_Disp[i,])
}

#Add more species to large-bodied dispesal modes from Kitamura et al. 2002
#due to assuming that large seeds has very have little chance to be dispersed by small animals.
AddSpp<- c("Aglaia lawii", "Dysoxylum cyrtobotryum", "Polyalthia simiarum","Prunus javanica", "Eugenia siamensis")
All_Disp$DM[which(All_Disp$Species%in%AddSpp==T)] <- "L"

#Assign WSG for species with no WSG data of species or genus  
All_Disp$WSG <- ifelse(is.na(All_Disp$spwood)==F,as.character(All_Disp$spwood),
                       ifelse(is.na(All_Disp$genwood)==F,as.character(All_Disp$genwood),
                              as.character(All_Disp$famwood)))

#Match mnemonic
mat4disp<-function(mnemonic_census){
  if(length(which(as.character(All_Disp$mnemonic)%in%as.character(mnemonic_census)))>0){
    return(which(as.character(All_Disp$mnemonic)%in%as.character(mnemonic_census)))
  } else{
    return(NA)    
  }
}

#Get indices
Indices<- sapply(All_T$mnemonic,mat4disp)

#Create a new table
Query<-data.frame(All_Disp$mnemonic[Indices],All_Disp$WSG[Indices],All_Disp$stratum[Indices],All_Disp$DM[Indices])
colnames(Query) <- c("mnemonic_Disp","WSG","Strata","DM")

#We assign "0" (other seed dispersal modes) for species that cannot be matched
#Query$DM[is.na(Query$DM)==T] <-"O"

#Add the selected data to the main data
All_T_WSG <- cbind(All_T,Query)

write.csv(All_T_WSG,"All_T_WSG.csv",row.names = F)
save.image("01-Data.RData")

